/* 
#5d5d5a
#ffa45c
#ffcdab
#fff4e3
*/


header
{
	background-color: #fff4e3;
	padding-top: 2em;
	padding-bottom: 2em;
}

.navbar
{
	background-color: #fff4e3;
	margin-bottom: 1em;
}


#body
{
	background-color: #5d5d5a;

}
.postHeader
{
	padding-bottom: 1em;
}